.register-style {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-register {
    width: 700px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 30px;
}

.form-style {
    display: flex;
    flex-direction: column
}

.title-register {
    text-align: center;
}
.form-btn-register {
    display: flex;
    justify-content: space-evenly
}