.layout-style {
    min-height: 100vh;

}

.layout-style .sider-logo-style {
    text-align: center;
    margin: 16px;
}

.layout-style .sider-style {
    z-index: 100;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-layout .ant-layout-sider-children {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13%;
    height: 100vh;
}

.layout-style .layout-content-style {
    background-color: #f0f2f5;
}

.layout-style .sider-style .sider-logout-btn {
    color: rgba(255, 255, 255, 0.65);
    background: #001529;
    border: none;
    position: absolute;
    bottom: 3%;
    left: 7%;
}